body{
    background-color: rgb(13, 15, 15);
}
.bg-light-dark{
    background-color: rgb(182, 33, 33);
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}